html {
  background-color: rgb(3, 3, 48);
  font-size: 25px;
  font-family:
    Google Sans,
    sans-serif;
}
p {
  color: rgb(255, 158, 55);
  font-family: sans-serif;
}
h1 {
  font-size: 60px;
  color: rgb(255, 230, 230);
  text-align: center;
}
h3 {
  color: rgb(255, 255, 255);
  font-size: 25px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
