html {
  background-color: rgb(3, 3, 46);
  font-size: 25px;
  font-family:
    Google Sans,
    sans-serif;
}
p {
  color: coral;
  font-family: Arial, sans-serif;
}
h1 {
  font-size: 60px;
  color: beige;
  text-align: center;
}
h3 {
  color: white;
  font-size: 25px;
}
h2 {
  color: white;
  font-size: 30px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
